body {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

.screen-container {
    position: relative;
    height: 900px;
    width: 1440px;
    background-color: #F2F2F2;
}

.main-container {
    position: absolute;
    margin: 172px 206px;
    width: 1028px;
    height: 555px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.main-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #374151;
    margin-left: 44px;
    margin-top: 33px;
    margin-bottom: 70px;
}

.line {
    border: solid 1px #D7DBDF;
    margin-right: 46px;
}

.description-input {
    margin-bottom: 8px;
}
coucou toi !
.input {
    border: 1px solid #D2D6DB;
    box-sizing: border-box;
    border-radius: 5px;
    width: 297px;
    height: 49px;
    margin-bottom: 52px;
}

.inputs-container {
    display: flex;
}

.input-container:nth-child(1) {
    margin-left: 44px;
    margin-right: 24px;
}

.input-container:nth-child(3) {
    margin-left: 19px;
    margin-right: 46px;
}

.textarea-bio {
    resize: none;
    height: 150px;
    width: 300px;
}
